  <!-- Header -->

  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <!--   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="#">Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#projects">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" id="myContact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <%= link_to 'Resume', {:action => :resume, :controller => :home} %>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="container" style="height:700px;padding-top:250px;">
            <div class="row">
                <div class="col-lg-12">
                  <nav class="menu">
                    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
                    <label class="menu-open-button" for="menu-open">
                      <%= image_tag("me.jpg",:class=>"mypic") %>
                    </label>

                    <a href="#" class="menu-item"> <i class="fa fa-bar-chart"></i> </a>
                    <a href="#" class="menu-item"> <i class="fa fa-plus"></i> </a>
                    <a href="#" class="menu-item"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>
                    <a href="#" class="menu-item"> <i class="fa fa-cog"></i> </a>
                    <a href="#" class="menu-item"> <i class="fa fa-ellipsis-h"></i> </a>

                  </nav>


                    <div class="intro-text" style="padding-top:20px;">
                        <span class="name">Rupesh Bogadapati</span>
                        <hr class="star-light home">
                        <span class="skills">Mobile App Developer - Front End Developer </span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- About Section -->
    <section class="success about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                   <!--  <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p> -->
                   <p>I am a mobile app developer with experience in FrontEnd development</p>
                </div>
                <div class="col-lg-4">
                    <p><b>Hobbies:</b> Badminton, Collecting Coins</p>
                    <p><b>Achivement:</b> Got the best employee award</p>
                    <p><b>Skills:</b> Android,Cordova,Ionic,SenchaTouch,<br>Html5,Scss,Jquery,Angularjs,EmberJS,Ruby on Rails,Git,Heroku</p>
                    <p><b>Previous Company:</b> Infi Pvt. Ltd.</p>
                </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>

        <!-- Portfolio Grid Section -->
    <section id="projects" class="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#2c3e50 !important;">Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <%= link_to image_tag("portfolio/cabin.png", :class => "img-responsive"),{:controller=>:project,:action=>:index,:id=>1} %>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to image_tag("portfolio/cake.png", :class => "img-responsive"),{:controller=>:project,:action=>:index,:id=>2} %>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to image_tag("portfolio/circus.png", :class => "img-responsive"),{:controller=>:project,:action=>:index,:id=>3} %>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to image_tag("portfolio/game.png", :class => "img-responsive"),{:controller=>:project,:action=>:index,:id=>4} %>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to image_tag("portfolio/safe.png", :class => "img-responsive"),{:controller=>:project,:action=>:index,:id=>5} %>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to image_tag("portfolio/submarine.png", :class => "img-responsive"),{:controller=>:project,:action=>:index,:id=>6} %>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>7c,Bharathiyar nagar main road,<br>Thoraipakam, Chennai</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/rupesh.bogadapati" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact</h3>
                        <p>Phone:&nbsp;<a href="#">+91-9962483894</a>(TN)</p>
                        <p>Phone:&nbsp;<a href="#">+91-8801143967</a>(AP)</p>
                        <p>Email:&nbsp;<a href="#">rupeshappdeveloper@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
