    <div class="portfolio-modal" id="portfolioModal1" >
        <div class="modal-content">
        <%= link_to('/home/index') do %>
             <div class="close-modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
         <% end %>
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><%= @project.title %></h2>
                            <hr class="star-primary">
                            <img src="assets/images/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p><%= @project.description %></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="#"><%= @project.client %></a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#"><%= @project.period %></a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="#">Development</a>
                                    </strong>
                                </li>
                            </ul>
                           <%= link_to ' <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>'.html_safe,{:controller => :home, :action => :index} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


